:host {
  display: block;
  background-color: var(--panel-background);
  border-top: 1px solid var(--borders-dividers);
  padding: 0 1rem;
}

.bottom-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.history-panel, .zoom-controls, .project-info {
  color: var(--secondary-text);
}